{% load mptt_tags %}
{% comment %}
        <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
        {% endcomment %}
<div class="sidebar">
    <div class="item mb-5">
    <h4>Типы записей</h4>
    <div class="list-group postTypes">
        {%  for item in postTypes %}
            <a href="{{ item.link }}" class="list-group-item list-group-item-action" aria-current="true">
                <img src="{{ item.image.url }}" alt="{{ photo.title }}">
                {{ item.title }}
            </a>
        {% endfor %}
        {% comment %}
        <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
        {% endcomment %}
    </div>
</div>

<div class="item mb-5">
    <h4>Категории</h4>
<div class="list-group">
        {% for cats in categories %}
            <div class="list-group-item list-group-item-action">
                <ul class="list-group list-group-horizontal">
            {% for cat in cats %}
                <li class="list-group-item"><a href="{{ cat.link }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
            </div>

        {% endfor %}

    </div>
</div>

<div class="item">
    <h4>Теги</h4>
<div class="card tags">
  <div class="card-body">
      {% for tag in tags %}
        <a href="{{ tag.link }}" type="button" class="btn btn-secondary" >
            {{ tag }}
        </a>
      {% endfor %}
  </div>
</div>
</div>

</div>









